body {
    font-family: 'Montserrat', sans-serif;
}

/* sidebar start */
.sidebar {
    height: 100vh;
    transition: width 0.3s;
  }
  .sidebar.collapsed {
    width: 4.5rem;
  }
  .sidebar.expanded {
    width: 15rem;
  }
  .sidebar .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s;
  }
  .sidebar .nav-link:hover {
    background-color: #e9ecef;
  }
  .sidebar .nav-link i {
    width: 24px;
    text-align: center;
  }
  .sidebar .nav-link.active {
    color: white; /* Warna putih untuk item aktif */
    background-color: #5932EA !important; /* Warna latar belakang ungu untuk item aktif */
  }
  .sidebar.collapsed .nav-link span {
    display: none;
  }
  .sidebar.expanded .nav-link span {
    display: inline;
  }
  .sidebar .nav-link {
      border-radius: 8px;
  }
  .sidebar .nav-link:hover {
      color: white;
      background-color: #5932EA !important;
  }
  .sidebar .nav-link {
      color: #9197B3;
  }
/* sidebar end */


/* homepage start*/

.section .banner {
  padding: 0px;
  max-width: 1200px;
  max-height: 1200px;
  position: relative;
}
  .banner-area img{
    background-position: center;
    background-size: cover; 

    width: 100%;
    height: 500px;
    margin-top: -17px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    object-fit: cover;
  }

.about{
  display: flex;
  justify-content: space-between;
  position: relative;
}
 .about-image img{
    flex: 0 0 auto;
    width: 100%;
    height: 400px;
 }
 .about-text{
    flex: 1;
    color: white;
    background-color: #F17591;
    position: relative;
    padding-top: 20px;
 }
 .about-text p{
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 10px;
 }

.product-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 40px;
  margin-left: 130px;
  padding: 5px;
  background-color: #FEE8EE;;
}
  .card {
    background-color: #FEE8EE;
    width: calc(22.22% - 5px); 
    text-align: center;
    border: #FEE8EE;
    margin-bottom: 30px;
  }
  .card .image {
    width: 200px;
    height: 200px;
  }
  .card-title {
    color: #F17591;
    font-weight: bold;
    font-size: medium;
  }
  .card-text {
    color: #808080;
    font-weight: 500;
    font-size: 12px;
  }
  .card button {
    background-color: #F17591;
    color: white;
    border: none;   
    font-weight: 600;
    font-size: smaller;
    border-radius: 20px;
    cursor: pointer;
  }
  .card button:hover {
    background-color: #E75480;
    color: white;
  }
  /* Responsive design */
  @media (max-width: 768px) {
    .card {
        width: calc(50% - 20px); /* two cards per row for tablets */
    }
  }
  @media (max-width: 480px) {
    .card {
        width: 100%; /* one card per row for mobile devices */
    }
  }

.carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: #F17591;
}

.carousel-content{
  display: flex;
  transition: transform 0.5s ease;
  margin: 30px;
}

.carousel-card {
  flex: 0 0 auto;
  width: 380px;
  /*margin-right: 20px;
  margin-bottom: 30px;*/
  margin: 10px 20px 30px 20px;
  padding: 30px;
  background-color: #FEE8EE;
  border-radius: 10px;
}
.carousel-card h5{
  color: #808080;
  font-weight: bold;
}
.carousel-card p{
  color: #F17591;
  font-weight: 600;
}
.carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.carousel-control {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-control:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

.paymentMethod{
  background-color: #FEE8EE;
}
.image-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.image-container img {
  width: 200px; 
  height: auto; 
  margin-right: 30px;
  margin-bottom: 30px;
  object-fit: contain;
}
/* homepage end */

/* product start */

.product {
  height: auto;
  background-color: white;
}
  .product .product-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 40px;
    margin-left: 130px;
    padding: 5px;
    background-color: white;
  }
    .product .card {
      background-color: white;
      width: calc(22.22% - 5px); 
      text-align: center;
      border: white;
      margin-bottom: 30px;
    }
.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border: 2px solid #F17591;
  border-radius: 5px;
  width: 300px;
  margin-left: 50px;
  margin-top: 30px;
}

.search-icon {
  font-size: 20px;
  color: #808080;
  margin-right: 10px;
  margin-left: 15px;
}

.search-input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 15px;
}

.search-input::placeholder {
  color: #808080;
  font-weight: 400;
}

.search-input:focus {
  outline: none;
}
/* product end */