body {
    font-family: 'Montserrat', sans-serif;
}

/* sidebar start */
.sidebar {
    height: 100vh;
    transition: width 0.3s;
  }
  .sidebar.collapsed {
    width: 4.5rem;
  }
  .sidebar.expanded {
    width: 15rem;
  }
  .sidebar .nav-link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: color 0.3s;
  }
  .sidebar .nav-link:hover {
    background-color: #e9ecef;
  }
  .sidebar .nav-link i {
    width: 24px;
    text-align: center;
  }
  .sidebar .nav-link.active {
    color: white; /* Warna putih untuk item aktif */
    background-color: #5932EA !important; /* Warna latar belakang ungu untuk item aktif */
  }
  .sidebar.collapsed .nav-link span {
    display: none;
  }
  .sidebar.expanded .nav-link span {
    display: inline;
  }
  .sidebar .nav-link {
      border-radius: 8px;
  }
  .sidebar .nav-link:hover {
      color: white;
      background-color: #5932EA !important;
  }
  .sidebar .nav-link {
      color: #9197B3;
  }
/* sidebar end */


/* homepage start*/

.section .banner {
  padding: 0px;
  max-width: 1200px;
  max-height: 1200px;
  position: relative;
}
  .banner-area img{
    background-position: center;
    background-size: cover; 

    width: 100%;
    height: 500px;
    margin-top: -17px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    object-fit: cover;
  }

.about{
  display: flex;
  justify-content: space-between;
  position: relative;
}
 .about-image img{
    flex: 0 0 auto;
    width: 100%;
    height: 410px;
 }
 .about-text{
    flex: 1;
    color: white;
    background-color: #F17591;
    position: relative;
    padding-top: 30px;
 }
 .about-text p{
  padding-left: 40px;
  padding-right: 50px;
  padding-top: 10px;
 }

.product-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
  gap: 40px;
  margin-left: 130px;
  padding: 5px;
  background-color: #FEE8EE;;
}
  .card {
    background-color: #FEE8EE;
    text-align: center;
    border: #FEE8EE;
    margin-bottom: 30px;
  }
  .card .image {
    width: 200px;
    height: 200px;
  }
  .card-title {
    color: #F17591;
    font-weight: bold;
    font-size: medium;
  }
  .card-text {
    color: #808080;
    font-weight: 500;
    font-size: 12px;
  }
  .card button {
    background-color: #F17591;
    color: white;
    border: none;   
    font-weight: 600;
    font-size: smaller;
    border-radius: 20px;
    cursor: pointer;
  }
  .card button:hover {
    background-color: #E75480;
    color: white;
  }

.carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
  background-color: #F17591;
}
  .carousel-content{
  display: flex;
  transition: transform 0.5s ease;
  margin: 30px;
  }

  .carousel-card {
    flex: 0 0 auto;
    width: 380px;
    margin: 10px 20px 30px 20px;
    padding: 30px;
    background-color: #FEE8EE;
    border-radius: 10px;
  }
  .carousel-card h5{
    color: #808080;
    font-weight: bold;
  }
  .carousel-card p{
    color: #F17591;
    font-weight: 600;
  }
  .carousel-controls {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .carousel-control {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .carousel-control:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }

.paymentMethod{
  background-color: #FEE8EE;
}
  .image-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .image-container img {
    width: 200px; 
    height: auto; 
    margin-right: 30px;
    margin-bottom: 30px;
    object-fit: contain;
  }

    /* Aturan media query untuk tampilan responsif pada perangkat seluler */
  @media screen and (max-width: 600px) {
    .banner-area img {
      height: 300px; /* Mengurangi tinggi gambar banner pada perangkat seluler */
      margin-top: -17px; /* Menghapus margin atas pada gambar banner pada perangkat seluler */
      width: 100%;
    }
    .about {
      flex-direction: column; /* Mengubah tata letak menjadi tumpukan vertikal pada perangkat seluler */
      align-items: center; /* Pusatkan konten pada perangkat seluler */
    }
    .about-image img {
      width: 100%; /* Menggunakan lebar penuh untuk gambar about pada perangkat seluler */
      height: auto; /* Biarkan tinggi gambar about mengikuti proporsi aslinya */
      margin-bottom: 20px; /* Tambahkan jarak bawah pada gambar about pada perangkat seluler */
    }
    .about-text {
      width: 100%; /* Menggunakan lebar penuh untuk teks about pada perangkat seluler */
      padding: 20px; /* Ubah padding secara keseluruhan pada perangkat seluler */
      margin-top: -20px;
    }
    .about-text p {
      padding: 10px; /* Ubah padding paragraf pada perangkat seluler */
    }
    .product-card {
      width: 100%; /* Menggunakan lebar penuh untuk kartu produk pada perangkat seluler */
      margin-left: 0; /* Menghapus margin kiri pada perangkat seluler */
      padding: 0; /* Hapus padding pada perangkat seluler */
    }
    .card {
      width: calc(40% - 10px); /* Mengatur lebar kartu produk pada perangkat seluler */
      margin-bottom: 20px; /* Mengurangi jarak bawah pada perangkat seluler */
    }
    .paymentMethod {
      padding: 20px; /* Tambahkan padding pada perangkat seluler */
    }
    .image-container {
      flex-wrap: wrap; /* Mengatur pembungkus gambar menjadi tumpukan vertikal pada perangkat seluler */
      margin-top: 10px; /* Tambahkan margin atas pada perangkat seluler */
      justify-content: center; /* Pusatkan gambar pada perangkat seluler */
    }
    .image-container img {
      width: 120px; /* Ubah lebar gambar pada perangkat seluler */
      height: auto; /* Biarkan tinggi gambar mengikuti proporsi aslinya */
      margin-right: 10px; /* Kurangi margin kanan gambar pada perangkat seluler */
      margin-bottom: 10px; /* Kurangi margin bawah gambar pada perangkat seluler */
    }
  }
/* homepage end */

/* product start */
.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  height: 50px;
  border: 2px solid #F17591;
  border-radius: 5px;
  width: 300px;
  margin-left: 50px;
  margin-top: 30px;
}
  .search-input {
    border: none;
    outline: none;
    padding: 9px;
    font-size: 15px;
    width: 200px;
    margin-left: 10px;
    margin-right: 20px;
  }
  .search-input::placeholder {
    color: #808080;
    font-weight: 400;
  }
  .search-input:focus {
    outline: none;
  }
  .btn-search{
    border: 2px solid #F17591;
    color: #F17591; 
    background-color: #fff;

    font-weight: 600;
    font-size: medium;
    margin-left: 80px;

    border-radius: 5px;
    padding: 10px;
    height: 50px;
    width: 80px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  .btn-search:hover {
    background-color: #F17591; /* Warna latar belakang saat di-hover */
    color: #fff; /* Warna teks saat di-hover */
}

.dropdown-categories {
  padding: 10px;
  border: 2px solid #F17591;
  background-color: #F17591;
  color: white;
  font-weight: 600;
  border-radius: 15px;
  margin-left: 40px;
}

.product {
  height: auto;
  background-color: white;
}
  .product .product-card {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 40px;
    margin-left: 130px;
    padding: 5px;
    margin-top: 50px;
    background-color: white;
  }
    .product .card {
      background-color: white;
      width: calc(22.22% - 5px); 
      text-align: center;
      border: white;
      margin-bottom: 30px;
    }

    /* Aturan media query untuk tampilan responsif pada perangkat seluler */
@media screen and (max-width: 600px) {
  .search-container {
    width: calc(40% - 10px); /* Menggunakan lebar penuh dengan sedikit padding pada perangkat seluler */
    margin-top: 20px; /* Kurangi margin atas pada perangkat seluler */
    margin-bottom: 20px; /* Tambahkan margin bawah pada perangkat seluler */
  }
  .search-input {
    width: 110px;
    margin-right: 50px;
  }
  .btn-search{
    margin-right: 50px;
  }
  .dropdown-categories {
    width: calc(100% - 40px); /* Menggunakan lebar penuh dengan sedikit padding pada perangkat seluler */
    margin-top: 20px; /* Tambahkan margin atas pada perangkat seluler */
    margin-bottom: 20px; /* Tambahkan margin bawah pada perangkat seluler */
    margin-right: 50px;
    margin-left: 10px;
  }
  .product .product-card {
    width: 100%; /* Gunakan lebar penuh untuk kartu produk pada perangkat seluler */
    margin-left: 0; /* Hapus margin kiri pada perangkat seluler */
    padding: 0; /* Hapus padding pada perangkat seluler */
  }
  .product .card {
    width: calc(50% - 20px); /* Atur lebar kartu produk pada perangkat seluler */
    margin-bottom: 20px; /* Kurangi jarak bawah pada perangkat seluler */
  }
}
/* product end */

/* dataPribadi start */

.image-with-text {
  display: flex;
  align-items: center;
  margin-left: 90px;
  margin-top: 40px;
}
  .round-image {
    border-radius: 50%; /* Membuat gambar menjadi bulat */
    width: 80px; /* Sesuaikan ukuran gambar */
    height: 80px; /* Sesuaikan ukuran gambar */
    margin-right: 20px; /* Jarak antara gambar dan teks */
  }
  .text-container {
    flex-grow: 1; /* Memungkinkan kontainer teks untuk mengisi ruang tersedia */
  }
  .text-container p {
    margin-bottom: 0; /* Menghilangkan margin bawah dari paragraf */
  }

.form-container{
  padding: 30px 90px;
}
  .form-container .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .input-box .input-field{
    position: relative;
    width: 48%;
    margin: 10px 0;
  }
  .input-box .input-field input,
  .input-box .input-field textarea
  {
    background-color: #F07A90;
    color: white;
    border-color: #F07A90;
  }
  .input-field input::placeholder {
    color: white;
    font-size: small;
  }
  .button .btn-simpan{
    background-color: #F17591;
    color: white;
    border: none;

    font-weight: 600;
    font-size: smaller;

    border-radius: 10px;
    cursor: pointer;
    padding: 9px 9px;
    width: 115px;
    margin-top: 40px;
  }

  /* Aturan media query untuk tampilan responsif pada perangkat seluler */
  @media screen and (max-width: 600px) {
    .image-with-text {
      flex-direction: column; /* Mengubah tata letak menjadi tumpukan vertikal pada perangkat seluler */
      align-items: flex-start; /* Posisikan elemen secara vertikal pada perangkat seluler */
      margin-left: 20px; /* Sesuaikan margin kiri pada perangkat seluler */
      margin-top: 20px; /* Sesuaikan margin atas pada perangkat seluler */
    }
    .round-image {
      width: 60px; /* Ubah ukuran gambar pada perangkat seluler */
      height: 60px; /* Ubah ukuran gambar pada perangkat seluler */
      margin-right: 0; /* Hapus margin kanan pada perangkat seluler */
      margin-bottom: 10px; /* Sesuaikan jarak antara gambar dan teks pada perangkat seluler */
    }
    .form-container {
      padding: 30px 20px; /* Mengurangi padding pada perangkat seluler */
    }
    .input-box .input-field {
      width: 100%; /* Menggunakan lebar penuh pada perangkat seluler */
    }
    .button .btn-simpan {
      width: 50%; /* Menggunakan lebar penuh pada perangkat seluler */
      margin-top: 20px; /* Sesuaikan margin atas pada perangkat seluler */
      margin-bottom: 20px; /* Sesuaikan margin bawah pada perangkat seluler */
    }
  }
/* dataPribadi end */

/* pemesanan start */
.order > h5{
  color: #F17591;
  font-size: medium;
  padding: 20px 30px;
  margin-left: 40px;
}
.form-container-order{
  padding: 0px 70px;
}
.form-input-section .input-field{
  position: relative;
  margin: 10px 0;
}
.form-input-section .input-field input::placeholder {
  color: #808080;
  font-size: small;
  font-weight: 500;
}

.dropdown-order .btn-dropdown-order{
  border: none;
  background-color: #F17591;
  width: 100%;
  color: white;

  border-radius: 5px;
  text-align: left;
  font-size: small;
  padding: 8px;
  font-weight: 600;
  height: 40px;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button .btn-pesan{
  background-color: #F17591;
  color: white;
  border: none;

  font-weight: 600;
  font-size: smaller;

  border-radius: 10px;
  cursor: pointer;
  padding: 9px 9px;
  width: 115px;
  margin-top: 30px;
  margin-bottom: 20px;
}
/* pemesanan end */