<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- sidebar start -->
    {% include 'sidebarAdmin.html' %}
    <!-- sidebar end -->

    <!-- hero section start -->
    <div class="flex-grow-1 p-3" style="background-color: #FAFBFF;">
    {% include 'navbarAdmin.html' %}

    <div class="container-fluid py-5" style="background-color: #FFFFFF; border-radius: 30px;">
        <div class="row align-items-center px-3">
            <div class="col-lg-6">
              <h3 class="fw-bold">Semua Banner Homepage</h3>
            </div>
            <div class="col-lg-3">
              <!-- Button trigger modal -->
              <button onclick="window.location.href='/tambahDataBannerHomepage'" type="button" class="py-2 px-3 btn" style="background-color: #00B087; color: white; border-radius: 8px;">
                Tambah Banner Homepage
              </button>
            </div>
            <div class="col-lg-3">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
          </div>

          <div class="px-3">
              <div class="p-3 mt-3">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Judul Banner</th>
                        <th scope="col">Foto Banner</th>
                        <th scope="col">Tindakan</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for data in bannerHomepage %}
                    <tr>
                        <td>{{ data.judulBanner }}</td>
                        <td><img src="../static/assets/imgBannerHomepage/{{ data.photo }}" alt="{{ data.judulBanner }}" width="100px" class="product-image" style="cursor: pointer;"></td>
                        <td>
                            <button onclick="window.location.href='/editDataBannerHomepage/{{ data._id }}';" class="btn edit-button" style="background-color:#A6E7D8; color:#008767;">Edit</button>
                            <button onclick="window.location.href='/hapusDataBannerHomepage/{{ data._id }}';" class="btn" style="background-color: #FFC5C5; color: #DF0404;">Hapus</button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  
                  <div class="d-flex justify-content-end">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>
              </div>
          </div>
    </div>
    <!-- hero section end -->

    <!-- Modal untuk melihat gambar produk -->
    <div class="modal fade" id="productImageModal" tabindex="-1" aria-labelledby="productImageModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center">
            <img id="productImage" src="" alt="" style="max-width: 100%;">
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // untuk menampilkan gambar produk
        const productImages = document.querySelectorAll('.product-image');
        productImages.forEach(function(image) {
            image.addEventListener('click', function() {
                const modal = new bootstrap.Modal(document.getElementById('productImageModal'));
                const productImage = document.getElementById('productImage');
                productImage.src = this.src;
                modal.show();
            });
        });
    </script>
  </body>
</html>
