<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- sidebar start -->
    {% include 'sidebarAdmin.html' %}
    <!-- sidebar end -->

    <!-- hero section start -->
    <div class="flex-grow-1 p-3" style="background-color: #FAFBFF;">
    {% include 'navbarAdmin.html' %}

    <div class="container-fluid py-5" style="background-color: #FFFFFF; border-radius: 30px;">
        <div class="row align-items-center px-3">
            <div class="col-lg-7">
              <h3 class="fw-bold">Semua Produk</h3>
            </div>
            <div class="col-lg-2">
              <!-- Button trigger modal -->
              <button type="button" class="py-2 px-3 btn" style="background-color: #00B087; color: white; border-radius: 8px;" data-bs-toggle="modal" data-bs-target="#addProductModal">
                Tambah Pembayaran
              </button>
            </div>
            <div class="col-lg-3">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
          </div>

          <div class="px-3">
              <div class="p-3 mt-3">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Metode Pembayaran</th>
                        <th scope="col">Jenis Pembayaran</th>
                        <th scope="col">Nomor Pembayaran</th>
                        <th scope="col">Tindakan</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for data in pembayaran %}
                    <tr>
                        <td>{{ data.metodePembayaran }}</td>
                        <td>{{ data.jenisPembayaran }}</td>
                        <td>{{ data.nomorPembayaran }}</td>
                        <td>
                            <button onclick="confirmDelete('{{ data._id }}')" class="btn" style="background-color: #FFC5C5; color: #DF0404;">Hapus</button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  
                  <div class="d-flex justify-content-end">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>

              </div>
          </div>
    </div>

    <!-- Modal untuk Tambah Produk -->
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content bg-light p-3">
            <div class="modal-header">
              <h5 class="modal-title p-2" id="addProductModalLabel" style="background-color: #DB7095; color: white; border-radius: 8px;">Tambah Pembayaran Baru</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form id="addPembayaranForm" enctype="multipart/form-data">
                <div class="mb-3">
                  <label for="metodePembayaran" class="form-label">Metode Pembayaran</label>
                  <input type="text" class="form-control" id="metodePembayaran" name="metodePembayaran" required>
                </div>
                <div class="mb-3">
                  <label for="jenisPembayaran" class="form-label">Jenis Pembayaran</label>
                  <input type="text" class="form-control" id="jenisPembayaran" name="jenisPembayaran" required>
                </div>
                <div class="mb-3">
                  <label for="nomorPembayaran" class="form-label">Nomor Pembayaran</label>
                  <input type="number" class="form-control" id="nomorPembayaran" name="nomorPembayaran" required>
                </div>
                <button type="button" id="submitPembayaranBtn" class="btn p-2" style="background-color: #00B087; color: white; border-radius: 8px;">Tambah Pembayaran</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    <!-- hero section end -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
      $(document).ready(function(){
          $("#submitPembayaranBtn").click(function(){
              var formData = {
                  metodePembayaran: $("#metodePembayaran").val(),
                  jenisPembayaran: $("#jenisPembayaran").val(),
                  nomorPembayaran: $("#nomorPembayaran").val()
              };

              $.ajax({
                  type: "POST",
                  url: "/addPembayaran",
                  data: formData,
                  success: function(response){
                      Swal.fire({
                          title: 'Berhasil',
                          text: 'Data berhasil ditambahkan',
                          icon: 'success',
                          showConfirmButton: false,
                          timer: 1500
                      });
                      location.reload();
                  },
                  error: function(xhr, status, error){
                      Swal.fire({
                          title: 'Gagal',
                          text: 'Terjadi kesalahan saat menambahkan data',
                          icon: 'error',
                          showConfirmButton: false,
                          timer: 1500
                      });
                  }
              });
          });
      });

      function confirmDelete(id) {
          Swal.fire({
              title: 'Apakah Anda yakin ingin menghapus?',
              icon: 'warning',
              showCancelButton: true,
              confirmButtonText: 'Ya',
              cancelButtonText: 'Tidak',
          }).then((result) => {
              if (result.isConfirmed) {
                  $.ajax({
                      url: '/hapusDataPembayaran/' + id,
                      type: 'POST',
                      success: function(response) {
                          Swal.fire({
                              title: 'Berhasil',
                              text: 'Data berhasil dihapus',
                              icon: 'success',
                              showConfirmButton: false,
                              timer: 1500
                          });
                          location.reload();
                      },
                      error: function(xhr, status, error) {
                          Swal.fire({
                              title: 'Gagal',
                              text: 'Terjadi kesalahan saat menghapus data',
                              icon: 'error',
                              showConfirmButton: false,
                              timer: 1500
                          });
                      }
                  });
              }
          });
      }
    </script>
  
  </body>
</html>
