<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <!-- sidebar start -->
    {% include 'sidebarAdmin.html' %}
    <!-- sidebar end -->

    <!-- hero section start -->
    <div class="flex-grow-1 p-3" style="background-color: #FAFBFF;">
    {% include 'navbarAdmin.html' %}

    <div class="container-fluid py-5" style="background-color: #FFFFFF; border-radius: 30px;">
        <div class="row align-items-center px-3">
            <div class="col-lg-7">
              <h3 class="fw-bold">Semua Produk</h3>
            </div>
            <div class="col-lg-2">
              <!-- Button trigger modal -->
              <button type="button" class="py-2 px-3 btn" style="background-color: #00B087; color: white; border-radius: 8px;" data-bs-toggle="modal" data-bs-target="#addProductModal">
                Tambah Produk
              </button>
            </div>
            <div class="col-lg-3">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
          </div>

          <div class="px-3">
              <div class="p-3 mt-4" style="background-color: #F5F5F5; border-radius: 12px;">
                  <div class="btn-group d-flex justify-content-center" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn fs-5" for="btnradio1" style="background-color: #DB7095; color: white; border-radius: 12px;">Sunscreen</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn fs-5" for="btnradio2">Moisturizer</label>
                  
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn fs-5" for="btnradio3">Serum</label>
        
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio4" autocomplete="off">
                    <label class="btn fs-5" for="btnradio4">Toner</label>
        
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio5" autocomplete="off">
                    <label class="btn fs-5" for="btnradio5">Masker</label>
        
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio6" autocomplete="off">
                    <label class="btn fs-5" for="btnradio6">Facial Wash</label>
        
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio7" autocomplete="off">
                    <label class="btn fs-5" for="btnradio7">Micellar Water</label>
    
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio8" autocomplete="off">
                    <label class="btn fs-5" for="btnradio8">Essense</label>
                  </div>
              </div>
          </div>

          <div class="px-3">
              <div class="p-3 mt-3">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Jenis Skincare</th>
                        <th scope="col">Nama Produk</th>
                        <th scope="col">Harga/Pcs</th>
                        <th scope="col">Total Dus</th>
                        <th scope="col">Total Harga</th>
                        <th scope="col">Photo</th>
                        <th scope="col">Tindakan</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for product in products %}
                    <tr>
                        <td>{{ product.jenis_skincare }}</td>
                        <td>{{ product.nama_produk }}</td>
                        <td>Rp. {{ product.harga_per_pcs }}</td>
                        <td>{{ product.total_dus }}</td>
                        <td>Rp. {{ product.total_harga }}</td>
                        <td><img src="../static/uploads/{{ product.photo }}" alt="{{ product.jenis_skincare }}" width="100px" class="product-image" style="cursor: pointer;"></td>
                        <td>
                            <button class="btn edit-button" data-product-id="{{ product.id }}" data-product-name="{{ product.nama_produk }}" data-product-price="{{ product.harga_per_pcs }}" data-product-quantity="{{ product.total_dus }}" data-product-total-price="{{ product.total_harga }}" data-product-type="{{ product.jenis_skincare }}" style="background-color:#A6E7D8; color:#008767;">Edit</button>
                            <button class="btn" style="background-color: #FFC5C5; color: #DF0404;">Hapus</button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  
                  <div class="d-flex justify-content-end">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>

              </div>
          </div>
    </div>
    <!-- hero section end -->

    <!-- Modal untuk Tambah Produk -->
    <div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-light p-3">
          <div class="modal-header">
            <h5 class="modal-title p-2" id="addProductModalLabel" style="background-color: #DB7095; color: white; border-radius: 8px;">Tambah Produk Baru</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="addProductForm" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="jenisSkincare" class="form-label">Jenis Skincare</label>
                <select class="form-select" id="jenisSkincare" name="jenisSkincare" required>
                  <option value="">Pilih Jenis Skincare</option>
                  <option value="Sunscreen">Sunscreen</option>
                  <option value="Moisturizer">Moisturizer</option>
                  <option value="Serum">Serum</option>
                  <option value="Toner">Toner</option>
                  <option value="Masker">Masker</option>
                  <option value="Facial Wash">Facial Wash</option>
                  <option value="Micellar Water">Micellar Water</option>
                  <option value="Essense">Essense</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="namaProduk" class="form-label">Nama Produk</label>
                <input type="text" class="form-control" id="namaProduk" name="namaProduk" required>
              </div>
              <div class="mb-3">
                <label for="hargaPerPcs" class="form-label">Harga/Pcs</label>
                <input type="number" class="form-control" id="hargaPerPcs" name="hargaPerPcs" required>
              </div>
              <div class="mb-3">
                <label for="totalDus" class="form-label">Total Dus</label>
                <input type="number" class="form-control" id="totalDus" name="totalDus" required>
              </div>
              <div class="mb-3">
                <label for="totalHarga" class="form-label">Total Harga</label>
                <input type="number" class="form-control" id="totalHarga" name="totalHarga" required>
              </div>
              <div class="mb-3">
                <label for="photo" class="form-label">Upload Foto</label>
                <input type="file" class="form-control" id="photo" name="photo" required>
              </div>
              <button type="submit" class="btn p-2" style="background-color: #00B087; color: white; border-radius: 8px;">Tambah Produk</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Modal untuk melihat gambar produk -->
    <div class="modal fade" id="productImageModal" tabindex="-1" aria-labelledby="productImageModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body text-center">
            <img id="productImage" src="" alt="" style="max-width: 100%;">
          </div>
        </div>
      </div>
    </div>

    <!-- Modal untuk Edit Produk -->
    <div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content bg-light p-3">
          <div class="modal-header">
            <h5 class="modal-title p-2" id="editProductModalLabel" style="background-color: #DB7095; color: white; border-radius: 8px;">Edit Produk</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form id="editProductForm" enctype="multipart/form-data">
              <input type="hidden" id="productId" name="productId">
              <div class="mb-3">
                <label for="editJenisSkincare" class="form-label">Jenis Skincare</label>
                <select class="form-select" id="editJenisSkincare" name="editJenisSkincare" required>
                  <option value="">Pilih Jenis Skincare</option>
                  <option value="Sunscreen">Sunscreen</option>
                  <option value="Moisturizer">Moisturizer</option>
                  <option value="Serum">Serum</option>
                  <option value="Toner">Toner</option>
                  <option value="Masker">Masker</option>
                  <option value="Facial Wash">Facial Wash</option>
                  <option value="Micellar Water">Micellar Water</option>
                  <option value="Essense">Essense</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="editNamaProduk" class="form-label">Nama Produk</label>
                <input type="text" class="form-control" id="editNamaProduk" name="editNamaProduk" required>
              </div>
              <div class="mb-3">
                <label for="editHargaPerPcs" class="form-label">Harga/Pcs</label>
                <input type="number" class="form-control" id="editHargaPerPcs" name="editHargaPerPcs" required>
              </div>
              <div class="mb-3">
                <label for="editTotalDus" class="form-label">Total Dus</label>
                <input type="number" class="form-control" id="editTotalDus" name="editTotalDus" required>
              </div>
              <div class="mb-3">
                <label for="editTotalHarga" class="form-label">Total Harga</label>
                <input type="number" class="form-control" id="editTotalHarga" name="editTotalHarga" required>
              </div>
                <button type="submit" class="btn p-2" style="background-color: #00B087; color: white; border-radius: 8px;">Simpan Perubahan</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $("#addProductForm").on("submit", function(event) {
          event.preventDefault();

          var formData = new FormData(this);

          $.ajax({
            type: "POST",
            url: "/add_product",
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
              alert(response.message);
              $("#addProductModal").modal('hide');
              location.reload();
            },
            error: function(error) {
              alert("Error adding product: " + error.responseJSON.message);
            }
          });
        });

        // untuk menampilkan gambar produk
        const productImages = document.querySelectorAll('.product-image');
        productImages.forEach(function(image) {
            image.addEventListener('click', function() {
                const modal = new bootstrap.Modal(document.getElementById('productImageModal'));
                const productImage = document.getElementById('productImage');
                productImage.src = this.src;
                modal.show();
            });
        });

        // Edit Product
        $(".edit-button").click(function() {
          var productId = $(this).data("product-id");
          var productName = $(this).data("product-name");
          var productPrice = $(this).data("product-price");
          var productQuantity = $(this).data("product-quantity");
          var productTotalPrice = $(this).data("product-total-price");
          var productType = $(this).data("product-type");

          $("#productId").val(productId);
          $("#editJenisSkincare").val(productType);
          $("#editNamaProduk").val(productName);
          $("#editHargaPerPcs").val(productPrice);
          $("#editTotalDus").val(productQuantity);
          $("#editTotalHarga").val(productTotalPrice);

          $("#editProductModal").modal("show");
        });

        // Submit Edit Product Form
        $("#editProductForm").on("submit", function(event) {
          event.preventDefault();
    
          var formData = new FormData(this);
    
          $.ajax({
            type: "POST",
            url: "/edit_product",
            data: formData,
            contentType: false,
            processData: false,
            success: function(response) {
              alert(response.message);
              $("#editProductModal").modal('hide');
              location.reload();
            },
            error: function(xhr, status, error) {
              alert("Error editing product: " + error);
            }
          });
        });

      });

        function confirmDelete(id) {
            Swal.fire({
                title: 'Apakah Anda yakin ingin menghapus?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Ya',
                cancelButtonText: 'Tidak',
            }).then((result) => {
                if (result.isConfirmed) {
                    // Jika pengguna mengkonfirmasi penghapusan, kirim permintaan AJAX ke server Flask
                    $.ajax({
                        url: '/hapusDataProduk/' + id,
                        type: 'POST',
                        success: function(response) {
                            // Jika penghapusan berhasil, tampilkan pesan sukses dan muat ulang halaman
                            Swal.fire({
                                title: 'Berhasil',
                                text: 'Data berhasil dihapus',
                                icon: 'success',
                                showConfirmButton: false,
                                timer: 1500
                            });
                            location.reload();
                        },
                        error: function(xhr, status, error) {
                            // Jika terjadi kesalahan, tampilkan pesan error
                            Swal.fire({
                                title: 'Gagal',
                                text: 'Terjadi kesalahan saat menghapus data',
                                icon: 'error',
                                showConfirmButton: false,
                                timer: 1500
                            });
                        }
                    });
                }
            });
        }
    </script>
  </body>
</html>
