<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>

<body>
    <!-- sidebar start -->
    {% include 'sidebarAdmin.html' %}
    <!-- sidebar end -->

    <!-- hero section start -->
    <div class="flex-grow-1 p-3" style="background-color: #FAFBFF;">
        {% include 'navbarAdmin.html' %}

        <div class="container-fluid py-5" style="background-color: #FFFFFF; border-radius: 30px;">
            <div class="row align-items-center px-3">
                <div class="col-lg-9">
                    <h3 class="fw-bold">Semua Media Sosial</h3>
                </div>
                <div class="col-lg-3">
                    <!-- Button trigger modal -->
                    <button onclick="window.location.href='/tambahDataFooter'" type="button" class="py-2 px-3 btn" style="background-color: #00B087; color: white; border-radius: 8px;">
                        Tambah Media Sosial
                      </button>
                  </div>
            </div>

            <div class="px-3">
                <div class="p-3 mt-3">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Media Sosial</th>
                                <th scope="col">Username Media Sosial</th>
                                <th scope="col">Link Media Sosial</th>
                                <th scope="col">Tindakan</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for data in footer %}
                            <tr>
                                <td>{{ data.socialMedia }}</td>
                                <td>{{ data.username }}</td>
                                <td>{{ data.linkSosmed }}</td>
                                <td>
                                    <button onclick="window.location.href='/editDataFooter/{{ data._id }}';" class="btn edit-button" style="background-color:#A6E7D8; color:#008767;">Edit</button>
                                    <button onclick="window.location.href='/hapusDataFooter/{{ data._id }}';" class="btn" style="background-color: #FFC5C5; color: #DF0404;">Hapus</button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="d-flex justify-content-end">
                        <nav aria-label="Page navigation example">
                          <ul class="pagination">
                            <li class="page-item {% if page == 1 %}disabled{% endif %}">
                              <a class="page-link" href="/adminFooter?page={{ page - 1 }}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                              </a>
                            </li>
                            {% for p in range(1, total_pages + 1) %}
                            <li class="page-item {% if p == page %}active{% endif %}"><a class="page-link" href="/adminFooter?page={{ p }}">{{ p }}</a></li>
                            {% endfor %}
                            <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                              <a class="page-link" href="/adminFooter?page={{ page + 1 }}" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                          </ul>
                        </nav>
                      </div>

                </div>
            </div>
        </div>
    </div>
    <!-- hero section end -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</body>

</html>