<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../static/img/logoneedskincare.png" rel="icon" type="image/x-icon" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Admin Pelanggan | NeedSkincareID</title>
  </head>
  <body>
    <!-- sidebar start -->
    {% include 'sidebarAdmin.html' %}
    <!-- sidebar end -->

    <!-- hero section start -->
    <div class="flex-grow-1 p-3" style="background-color: #FAFBFF;">
    {% include 'navbarAdmin.html' %}

    <div class="container-fluid py-5" style="background-color: #FFFFFF; border-radius: 30px;">
        <div class="row align-items-center px-3">
            <div class="col-lg-9">
              <h3 class="fw-bold">Semua Pelanggan</h3>
            </div>
            <div class="col-lg-3">
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
          </div>

          <div class="px-3">
              <div class="p-3 mt-3">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Nama Lengkap</th>
                        <th scope="col">Nama Pengguna</th>
                        <th scope="col">Email</th>
                        <th scope="col">No Handphone</th>
                        <th scope="col">Tanggal Lahir</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Tindakan</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for data in users %}
                    <tr>
                        <td>{{ data.namaLengkap }}</td>
                        <td>{{ data.namaPengguna }}</td>
                        <td>{{ data.email }}</td>
                        <td>{{ data.nomorTelepon }}</td>  
                        <td>{{ data.tanggalLahir }}</td>
                        <td>{{ data.alamat }}</td>
                        <td>
                            <button onclick="window.location.href='/hapusDataPelanggan/{{ data._id }}';" class="btn" style="background-color: #FFC5C5; color: #DF0404;">Hapus</button>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                  
                  <div class="d-flex justify-content-end">
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item {% if page == 1 %}disabled{% endif %}">
                          <a class="page-link" href="/adminPelanggan?page={{ page - 1 }}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        {% for p in range(1, total_pages + 1) %}
                        <li class="page-item {% if p == page %}active{% endif %}"><a class="page-link" href="/adminPelanggan?page={{ p }}">{{ p }}</a></li>
                        {% endfor %}
                        <li class="page-item {% if page == total_pages %}disabled{% endif %}">
                          <a class="page-link" href="/adminPelanggan?page={{ page + 1 }}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                      </ul>
                    </nav>
                  </div>

              </div>
          </div>
    </div>
    <!-- hero section end -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
      $('form').submit(function(e) {
        e.preventDefault();
        const searchText = $(this).find('input[type="search"]').val().toLowerCase();
        filterRowsBySearch(searchText);
    });
    
    function filterRowsBySearch(searchText) {
        const rows = $('tbody tr');
        rows.each(function() {
            const namaLengkap = $(this).find('td:eq(0)').text().toLowerCase();
            const namaPengguna = $(this).find('td:eq(1)').text().toLowerCase();
            if (namaLengkap.includes(searchText) || namaPengguna.includes(searchText)) {
                $(this).show();
            } else {
                $(this).hide();
            }
        });
    }
    
    </script>

  </body>
</html>
