<footer style="font-size: 20px; background-color: #DB7095; color: white;">
    <div class="container">
        <div class="d-flex flex-wrap justify-content-center border-bottom p-3">
            <div class="col-4 text-center">
                <h1>NeedSkincareID</h1>
                <p>Gang Sadar 2 Kavling AL NO A13 RT 001 RW 002, Kec Jatisampurna Kel Jatiraden Kota Bekasi, Jawa Barat 17436</p>
            </div>
    
            <div class="col-4 text-center">
                <h1>Kontak Kami</h1>
                <div class="d-flex justify-content-center align-items-center">
                    <img src="./static/img/whatsapp.svg" alt=""  class="flex-shrink-0" style="width: 30px;">
                    <p class="p-2 mb-2 text-center">6281317867755</p>
                </div>
            </div>
    
            <div class="col-4 text-center">
                <h1>Sosial Media</h1>
                <div class="row">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="./static/img/instagram.svg" alt="" class="flex-shrink-0" style="width: 30px;">
                        <p class="p-2 mb-2 text-center">@needskincareid</p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="./static/img/tiktok.svg" alt="" class="flex-shrink-0" style="width: 30px;">
                        <p class="p-2 mb-2 text-center">@needskincareid</p>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="./static/img/bag-plus.svg" alt="" class="flex-shrink-0" style="width: 30px;">
                        <p class="p-2 mb-2 text-center">needskincareid</p>
                    </div>
                </div>
    
            </div>
        </div>

        <div class="text-center p-4">
            <p>Copyrigth © 2024 Kingston, Inc</p>
        </div>

    </div>
</footer>