<header class="p-3 mb-3 border-bottom" style="background-color: #F17591;">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center">

        <div class="col-6">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-start mb-md-0">
              <li><a href="#" class="nav-link px-2 link-secondary">Beranda </a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Produk</a></li>
              <li><a href="#" class="nav-link px-2 link-dark">Tentang Kami</a></li>
            </ul>
        </div>

        <div class="col-2">
          <a href="/" class="" >
            <img src="../static/img/logoneedskincare.png" alt="" style="width: 90px;">
          </a>
      </div>

        <div class="col-4">
            <div class="dropdown text-end">
              <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="mdo" width="40" height="40" class="rounded-circle">
              </a>
              <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">Data Pribadi</a></li>
                <li><a class="dropdown-item" href="#">Riwayat Pemesanan</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Keluar</a></li>
              </ul>
            </div>
        </div>
      </div>
    </div>
  </header>