<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Produk | NeedSkincareID</title>
  </head>
  <body>
    <!-- header start -->
    {% include 'header.html' %}
    <!-- navbar end -->
    
    <div class="produk">
      <div class="d-flex align-items-center">
        <form class="w-100">
          <input type="cari" class="form-control" placeholder="Cari Produk" aria-label="Search">
        </form>
      </div>
  
      <!-- start content -->
      <div class="card" style="width: 18rem;">
        <img src="../static/img/produk/hydramax-ss.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Azarine Hydramax Sunscreen Serum SPF 50</h5>
          <span class="card-text1">1 dus (72pcs) = Rp 46.500</span>
          <p class="card-text2">3 dus (216pcs) = Rp 46 .000</p>
          <a href="#" class="btn btn-light" style="background-color: #DB7095;">Beli Sekarang</a>
        </div>
      </div>
    </div>
    



    <!-- content end -->

    <!-- footer start -->
    {% include 'footer.html' %}
    <!-- footer end -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </body>
</html>